/* Valores default */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
:root{
  --font: 10px;
}
*{
  margin: 0;
  padding: 0;
  font-size: var(--font);
  box-sizing: border-box;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
}
h1{
  margin: 0 0 5%;
  font-size: 400%;
}
h2{font-size: 300%;}
h3{font-size: 250%;}
h4{font-size: 180%;}
p{
  margin: 1% 0;
  font-size: 200%;
}
a,b,i{
  font-size: inherit;
  text-decoration: none;
}
ul,li{list-style: none;}
body{
  background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url('/img/bg.jpg') fixed no-repeat center 0;
  background-size: cover;
}
img{
  width: 100%;
  height: 100%;
}
img:hover{
  filter: drop-shadow(1px 1px 6px #fff);
  transition-duration: .4s;
}
.header{
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
}
.logo{
  width: 15%;
  margin: 0 auto;
}
.view{
  height: auto;
  position: relative ;
  top: 5vh;
}
.container{
  width: 90%;
  margin: 5% auto;
  padding: 5% 2%;
  background: linear-gradient(135deg,rgba(255,255,255,.1),rgba(255,255,255,0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius:20px;
  border: 1px solid rgba(255,255,255,.18);
  box-shadow: 0 8px 32px 0 rgba(0,0,0,.37);
  text-align: center;
}
#services,#contact{
  width: 100vw;
}
#footer{
    height: 5vh;
    text-align: center;
    margin: 0 0 .5%;
  }
#footer>span{font-size: 150%;}
.title{
  font-size: inherit;
  text-shadow: 1px 1px 5px #fff;
  color:#f00;
}
.list-container{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 5% 0;
}
.fa-brands,.fa-solid{
  font-size:150%;
  text-shadow: .5px .5px 5px #bbb
}
.fa-whatsapp{color:#0f0}
.fa-facebook{color:#00f}
.fa-instagram{color:#f08}
.fa-linkedin{color:#00f}
.fa-phone{color:#2a2}
.fa-envelope{color:#555}

@media screen and (min-width: 800px) and (min-height: 400px){
  h1{font-size: 3vw;}
  h2{font-size: 2.2vw;}
  h3{font-size: 1.9vw;}
  h4{font-size: 1.3vw;}
  p{font-size: 1.7vw;}
  a,b,i{font-size: inherit;}

  .logo{
    width: 9%;
    margin: 0 auto;
  }
  .view{
    display: flex;
    flex-direction: row;

  }
  .container{
    height: 100%;
    padding: 3% 10%;
    margin: auto; 
  }
  #footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0 auto;
  }
  #footer>p{margin:0}

  .fa-whatsapp,.fa-facebook,.fa-instagram,.fa-linkedin,.fa-phone,.fa-envelope{color: #333}
  .fa-whatsapp:hover{color:#0f0}
  .fa-facebook:hover{color:#00f}
  .fa-instagram:hover{color:#f08}
  .fa-linkedin:hover{color:#00f}
  .fa-phone:hover{color:#2a2}
  .fa-envelope:hover{color:#555}


}
